<link rel="stylesheet" href="css/approvalform.css">

<div class="row">
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div>{{blogPost.title}}</div>
				<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
				<span><strong>on: </strong>{{blogPost.postedOn | date:'medium'}}</span>
			</div>
			<div class="panel-body">{{blogPost.description}}</div>
		</div>
	</div>
</div>
<form style="color:#fff">
	<input type="radio" ng-model="blogPost.approved" value="true"> Approve <br><br>
<input type="radio" ng-model="blogPost.approved" value="false"> Reject <br><br>

 <div class="make wow shake">
	<button ng-click="updateApproval()" style="background-color:#b47c9f">Update Approval</button>
</div>
</form>