<link rel="stylesheet" href="css/blogpostform.css">

<div class="main-content-agile">
		<div class="sub-main-w3">	
			<div class="wthree-pro">
				<h2>Blog Post Form</h2>
		  </div>
<div class="pom-agile">
<form>
	
		<input type="text" ng-model="blogPost.title" placeholder="Title"><br>

		<textarea ng-model="blogPost.description" placeholder="Description"></textarea><br>
		
		<br>
		<div class="make wow shake">
		<input type="submit" ng-click="saveBlogPost()" value="Post Blog" style="background-color:#b47c9f">
		</div>
</form>
</div>
</div>
</div>