<link rel="stylesheet" href="css/blogslist.css">

<div class="column">
<div class="col-sm-6">
<div class="sub-main-w3">
<div class="table-responsive" ng-show="currentUser.role=='Admin'">

	<div class="wthree-pro" style="color:#fff">
			<h1>List of Blog Posts Waiting For Approval</h1><br>
				
			<h5>Recent Posts</h5>	
	</div>
	<br>
	<table class="table table-striped" style="background-color:#b47c9f">
		
		<tr
			ng-repeat="blogPost in blogsWaitingForApproval | orderBy:'time':true">

			<td><a href="#getBlogForApproval/{{blogPost.id}}">{{blogPost.title}}</a></td>
			<td>Created By: {{blogPost.createdBy.username}}</td>
			<td>Created On: {{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
		</tr>

	</table>
</div>
</div>
</div>
</div>

<div class="column">
<div class="col-sm-6">
<div class="sub-main-w3">
<div class="table-responsive">

	<div class="wthree-pro" style="color:#fff">
			<h1><i>List Of Blog Posts</i></h1><br>
	
			<h5>Recent Posts</h5>
	</div>
	<br>
	<table class="table table-striped" style="background-color:#b47c9f">
		

		<tr ng-repeat="blogPost in blogsApproved | orderBy:'time':true">

			<td><a href="#getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
			<td>Created By: {{blogPost.createdBy.username}}</td>
			<td>Created On: {{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
		</tr>

	</table>
</div>
</div>
</div>
</div>



