<link rel="stylesheet" href="css/blogdetail.css">

<div class="row">
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div>{{blogPost.title}}</div>
				<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
				<span><strong>On: </strong>{{blogPost.postedOn | date:'medium'}}</span>
			</div>

			<div class="panel-body">{{blogPost.description}}</div>

		</div>

	</div>


</div>

<div class="main-content-agile">
		<div class="sub-main-w3">
 <div>
 	
 	<div class="pom-agile">
	<form>
		<textarea rows="3" cols="20" ng-model="blogComment.body" placeholder="Description"></textarea><br><br>
		<br>
		<input type="submit" ng-click="addComment()" value="Post Comment" class="btn btn-primary">
		
		<br>
		<br>
	</form>
	</div>
</div>

	
 <div class="row">

<a href="" ng-click="getBlogComments(blogPost.id)" style="color:#fff">Show Blog Comments</a>
	<br>
	<br>
  <ul ng-show="showComments" style="color:#fff">
	
	 <li ng-repeat="comment in blogComments" style="list-style: none;">
		<div>
		{{comment.body}}
			<span><strong style="color:black"> Commented By </strong>{{comment.commentedBy.username}}</span>
		
			<span><strong style="color:black"> Commented On </strong>{{comment.commentedOn | date:'MM/dd/yyyy'}}</span>
	
		</div>
	</li>
</ul>
</div>
</div>
</div>