<link rel="stylesheet" href="css/jobform.css">
<div class="main-content-agile">
		<div class="sub-main-w3">	
			<div class="wthree-pro">
				<h2>Job Form</h2>
			</div>
<span>{{message}}</span>
<div class="pom-agile">
<form name="jobform">
	<input type="text" ng-model="job.jobTitle" placeholder="Job Title"><br>
	<textarea ng-model="job.jobDescription" placeholder="Job Description"></textarea><br>
	<input type="text" ng-model="job.yrsOfExp" placeholder="Yrs Of Experience"><br>
	<input type="text" ng-model="job.salary" placeholder="Salary"><br>
	<input type="text" ng-model="job.skillsRequired" placeholder="Skills Required"><br>
	<input type="text" ng-model="job.location" placeholder="Location"><br>
 	<input type="text" ng-model="job.companyName" placeholder="Company Name"><br>
	<br>
	<div class="make wow shake">
	<input type="submit" value="saveJob" ng-click="saveJob()">
	</div>
</form>
</div>
</div>
</div>